.App {
  font-family: sans-serif;
  text-align: center;
}


.page {
  background: rgb(109, 107, 107);
  height: 100vh
}

body {
  margin: 0px auto;
  width: 80vw;
  background: rgb(65, 64, 64);
}

a {
  color: white;
  font-size: 1.2rem;
}

.nav-tabs {
  background: rgb(65, 64, 64);
}

