.content {
  margin: 0px auto;
  width: 80%;
  background: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 10px;
}

.page {
  background: rgb(109, 107, 107);
  height: 100vh;
  max-width: 1800px
}

body {
  margin: 0px auto;
  width: 80vw;
  background: rgb(65, 64, 64);
}

a {
  color: white;
  font-size: 1.2rem;
}

.nav-tabs {
  background: rgb(65, 64, 64);
}

.__react_component_tooltip {
  padding: 4px 4px;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
  align-items: center;
}

.SingleStat {
  font-size: 0.8em;
  margin: 5px;
}

.SingleStat h5 {
  font-weight: bold;
  font-size: 1em;
}

td {
  padding-right : 18px
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 0.8em;
  cursor: pointer;
}
.Details {
  position: absolute;
  top: 20%;
  padding: 5%;
  background-color: rgba(180, 180, 180, 0.8);
  max-width: 1800px
}


.close {
  position: absolute;
  right: 32px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 4px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.close:focus {
  outline: none
}

.custom-tooltip {
  background: rgba(255, 255, 255, 0.692);
  border-radius: 10px;
  padding: 5px
}

.custom-tooltip p {
  margin: 0px;
  padding: 0px;
}








@media screen and (max-width: 700px) {
  .Stats {
    flex-direction: column;
    align-items: flex-start;
  }
  body {
    margin: 0px auto;
    width: 100vw;
  }

  .Details {
    width: 100%
  }
  .ScatterPlot{
    max-width: 250px;
    overflow: scroll;
  }

}

