.content {
  margin: 0px auto;
  width: 80%;
  background: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 10px;
}

.page {
  background: rgb(109, 107, 107);
  height: 100vh;
}

body {
  margin: 0px auto;
  width: 80vw;
  background: rgb(65, 64, 64);
}

a {
  color: white;
  font-size: 1.2rem;
}

.nav-tabs {
  background: rgb(65, 64, 64);
}

.__react_component_tooltip {
  padding: 4px 4px;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 500px;
}

.SingleStat {
  font-size: 0.8em;
  margin: 5px;
}

.SingleStat h5 {
  font-weight: bold;
  font-size: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 0.8em;
  cursor: pointer;
}
.Details {
  position: absolute;
  top: 20%;
  padding: 5%;
  background-color: rgba(180, 180, 180, 0.8);
}


@media screen and (max-width: 700px) {
  .Stats {
    flex-direction: column;
  }
  body {
    margin: 0px auto;
    width: 100vw;
  }

  .Details {
    width: 100%
  }

}

